* {
  margin: 0;
  padding: 0;
}

body {
  height: 2000px;
}

.navbar {
  background-color: rgb(37, 37, 37);
  display: flex;
  justify-content: space-between;
  padding: 14px;
}

.searchbar {
  padding: 12px;
}

#searchBar {
  width: 300px;
  height: 26px;
}

button {
  height: 22px;
  width: 24px;
}

.upcoming {
  width: auto;
  /* margin-top: 22px; */
  /* How to do this without it pushing */
}

.upcomingImg {
  width: 100%;
  height: 625px;
  position: relative;
  background-image: url(Imgs/background.png);
  /* Placeholder */
  background-repeat: no-repeat;
  background-size: cover;
}
.lowertitle {
  margin-top: 30px;
  text-align: center;
}

.movie-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 325px;
  /* display: flex;
  justify-content: center; */
}
.card {
  height: 200px;
  width: 200px;
  margin: 45px 25px 0px 0px;
}

.card-poster {
  height: 440px;
  width: 295px;
}
